# Ignore virtual environments
env/
venv/

# Ignore dataset files
data/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore model weights
*.h5
*.pt

# Ignore system files
.DS_Store
Thumbs.db
